:root {
    --main-color: #9ECACC;
    --pane-padding: 5px 42px;
  }
  
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    line-height: 1.;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #edf2fc;

}

/* Start Header */
ul {
    list-style: none;
} 
/* Header style */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    background-color: #31343C;
    color: var(--main-color);
}
/* Style h1 in header */
header h1 { 
    background-color: #9ECACC;
    color: #31343C;
    display: flex;
    flex: 0 0 275px;
    justify-content:end;
    margin: 10px 0;
    padding: 4px 10px;
}

h1 {
    font-size: 200%;
}
/* below styles to give the nav flex, margin, and padding */
nav {
    padding: 20px 75px;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
}

nav a {
    color: var(--main-color);
    text-decoration: none;
}
nav li {
    border-bottom: 4px solid var(--main-color);
    padding:0 8px;
    margin:0 10px;
}

/* style to make header and main into column when screen size is reduced to 768px */

@media screen and (max-width: 768px) {
header, main {
    flex-direction: column;
}
/* resize height of flex item once page is resized */
header h1 { 
    flex: auto;
    }
/* center nav item elements once page is resized*/
nav ul  {
        justify-content: center;
    }
}
/* End Header */

/* Start Hero */
.hero {
    background-image: url("../images/colorful-abstract-background.jpg");
    display: flex;
    flex-direction: column;
    min-height: 15em;
    height: 50%;
    align-self: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    align-items: center;
    justify-content: center;
}
/* style for hero text */
.hero-text {
    display: flex;
    color:#31343C;
    flex-direction: column-reverse;
    align-self: flex-end;
    margin: 100px 75px 20px 0;
    background-color: var(--main-color);
    padding: 14px;
}
/* End Hero */

/* Start About me section */

article {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: 3% 75px;
    
  }
 /* style to give the sub heading column*/ 
.subheading {
    display: flex;
    padding-right: 20px;
    margin-right: 20px;
    margin-left: 50px;
    flex: 0.1;
    max-width: 75px;
    font-size: 36px;
    text-align:right;
    justify-content: end;
    color: #31343C;
    border-right: 4px solid #31343C;
}
 /* style to give the sub text */ 

.subtext {
    display: flex;
    flex-direction: column;
    flex: 1;
    line-height: 1.6;
    margin-left: 10px;

}
article p {
    font-size: 110%;
    margin-bottom: 20px;
}

/* End About me section */

/* Start Work section */

.container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* container for image box*/
.image {
  display: flex;
  font-family: "Open Sans", Arial;
  font-size: 20px;
  color: #FFF;
  text-align: center;
  background: var(--main-color);
  padding: 10px;
  margin: 12px;
}
/* add a background overlay on hover over the images */
.image:hover{
    background: linear-gradient(#e66465, #9198e5);
    opacity: 0.8;
}

.image:first-child {
  width: 100%;
  
}
/* Make the first image child bigger then the following childs */
.image img:first-child {
    width: 100%;
    object-fit: cover;
    height:500px;
  }

.image:not(:first-child) {
  flex: 1;
  width: 100%;
}
.image:not(:first-child) img{
    min-width: 475px;
    max-height:300px;
}
.image-text {
    display: flex;
    align-self: flex-end;
    text-align: left;
    position: absolute;
    flex-direction: column;
    background-color: var(--main-color);
    padding:10px 20px;
    margin-bottom: 40px;
}
.image-text a {
    color:#31343C;
    text-decoration: none;
}
img:hover {
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
}
/* End Work section */


/* Start contact me section*/

.contact-me {
    display: flex;
    flex-direction: row;
    flex: 1;
    align-self: center;

}
/* style for the contact me list to appear flex and in a row*/
.contact-me ul {
    text-decoration: none;
    display: flex;
    flex-direction: row;

}
/* style to give the list elements a border bottom, padding, and margin */
.contact-me ul li{
    border-bottom: 4px solid #2a2d38;
    color:#31343C;
    padding: 0 8px 5px 8px;
    margin: 0 40px;
}
.contact-me a {
    color:#31343C;
    text-decoration: none;
}
/* End contact me section*/


/* style the article, subheading, subtext context when screen size is reduced to 768px */
@media screen and (max-width: 768px) {
    article {
        flex-direction: column;
    }
    .subheading {
        border-right: none;
        margin-bottom: 10px;
        margin-left: 0;
        padding-bottom: 5px;
        border-bottom: 4px solid rgb(45, 58, 94);;
    }
    .subtext {
        margin-left: 0;
    }
}