* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    line-height: 1.;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #edf2fc;

}

/* Start Header */
ul {
    list-style: none;
} 

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    background-color: #31343C;
    color: #9ECACC;
}

header h1 { 
    background-color: #9ECACC;
    color: #31343C;
    display: flex;
    flex: 0 0 275px;
    justify-content:end;
    margin: 10px 0;
    padding: 4px 10px;
}

h1 {
    font-size: 200%;
}

nav {
    padding: 20px 75px;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
}

nav a {
    color: #9ECACC;
    text-decoration: none;
}
nav li {
    border-bottom: 4px solid #9ECACC;
    padding:0 8px;
    margin:0 10px;
}


@media screen and (max-width: 768px) {
header, main {
    flex-direction: column;
}
/* resize height of flex item once page is resized */
header h1 { 
    flex: auto;
    }
/* center nav item elements once page is resized*/
nav ul  {
        justify-content: center;
    }
}
/* End Header */

/* Start Hero */
.hero {
    background-image: url("../images/colorful-abstract-background.jpg");
    display: flex;
    flex-direction: column;
    min-height: 15em;
    height: 50%;
    align-self: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    align-items: center;
    justify-content: center;
}

.hero-text {
    display: flex;
    color:#31343C;
    flex-direction: column-reverse;
    align-self: flex-end;
    margin: 100px 75px 20px 0;
    background-color: #9ECACC;
    padding: 14px;
}
/* End Hero */

/* Section */

article {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: 3% 75px;
    
  }
.subheading {
    display: flex;
    padding-right: 20px;
    margin-right: 20px;
    margin-left: 50px;
    flex: 0.1;
    font-size: 36px;
    text-align:right;
    color: #31343C;
    border-right: 4px solid #31343C;
}
.subtext {
    display: flex;
    flex-direction: column;
    flex: 1;
    line-height: 1.6;
    margin-left: 10px;

}

article p {
    font-size: 110%;
    margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
    article {
        flex-direction: column;
    }
    .subheading {
        border-right: none;
        margin-bottom: 10px;
        margin-left: 0;
        padding-bottom: 5px;
        border-bottom: 4px solid rgb(45, 58, 94);;
    }
    .subtext {
        margin-left: 0;
    }
}